<section>
    <img src="/images/vehicles/delorean.jpg" alt="Delorean">

<h1>
    Welcome to CSE Motors!
</h1>

<h2>DMC Delorean 3 Cup holders superman doors fuzzy dicel</h2>
<img src="/images/site/own_today.png" alt="">
</section>

<section>
<div>
<h3>Dolorean Upgrades</h3>
<img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
<img src="/images/upgrades/flame.jpg" alt="">
<img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
<img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">

</div>
<h3>DMC Delorean Reviews</h3>
<ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly" (5/5)</li>
    <li>"The most futuristic ride of our day" ( 4.5/5)</li>
    <li>"80's livin and I love it" (5/5)
    </li>
</ul>
</section>

